.city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: red;
    text-align: center;
    padding: 0.5rem;
.bordureNone {
        border: none;
      }
    & i {
    font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
}